In [55]:
import glob
import numpy as np
import pandas as pd
import tensorflow

2022-12-16 14:48:05.248225: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-12-16 14:48:05.679339: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-12-16 14:48:05.679355: I tensorflow/compiler/xla/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2022-12-16 14:48:06.674281: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2022-12-16 14:48:06.674567: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2022-12-16 14:48:06.674576: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

In [51]:
images = glob.glob("../../Hackathon files/Nadir afbeeldingen/*.jpg")

In [52]:
label_dormer = pd.read_csv("../../Hackathon files/dormer_labels.csv", names=['id', 'dormer'], header=0)
label_roofs = pd.read_csv("../../Hackathon files/rooftype_labels.csv")

In [53]:
label_roofs = label_roofs.drop(columns=['labled_by'])

In [54]:
labels = label_dormer.merge(label_roofs, on="id", how="inner")
labels

                  id      dormer     label
0    303100000581886     dormers  langskap
1    303100000581886  no_dormers  langskap
2    303100000581887     dormers  langskap
3    303100000581887  no_dormers  langskap
4    303100000581896     dormers  langskap
..               ...         ...       ...
954  355100000725198  no_dormers  langskap
955  355100000725890  no_dormers  langskap
956  355100000735899  no_dormers  langskap
957  355100000736056  no_dormers  langskap
958  355100000736064  no_dormers  langskap

[959 rows x 3 columns]